/*Begin Custom Properties*/
:root {
    /*Fonts*/
    /*--fs-subtitle: max(1.8rem, calc(2.7vh));
    --fs-form-label: max(1.2rem, calc(2.3vh));*/
    --fs-subtitle: 5rem;
    --fs-form-label: 1rem;
    --self-img-height: 33.5rem;
}
/*End Custom Properties*/

/*Begin Main Content*/
.about-main-content {
    border-top: 4px solid;
    border-bottom: 4px solid;
    border-image-source: repeating-conic-gradient(from var(--gradient-angle), transparent 0deg,
                            #BF9A40 5deg, #FFFFFF 40deg, transparent 75deg, transparent 180deg);
    border-image-slice: 1;
    animation: about-shimmy 5s ease-out 1 forwards;
    position: relative;
}

@keyframes about-shimmy {
    0% {--gradient-angle: 0deg}
    100% {--gradient-angle: 360deg}
}
/*End Main Content*/

/*Begin main title*/
.subtitle-text {
    font-family: var(--ff-site);
    font-size: var(--fs-subtitle);
    font-weight: 200;
}
/*End Main Content*/

/*Begin Info-Skills Div*/
.info-skills-title {
    font-size: var(--fs-subtitle);
    font-family: var(--ff-site);
    font-weight: 200;
}

.info-text {
    font-size: var(--fs-body);
    font-family: var(--ff-site);
    font-weight: 200;
}

.info-skills-div {
    border-bottom: 1px solid #BF9A40;
}

.skill-div {
    color: #FFFFFF;
    background-color: #BF9A40;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    font-family: var(--ff-site);
    font-size: var(--fs-body);
}

.self-img-div {
    position: relative;
}

.self-img-div::before {
    content: "";
    inset: 0;
    position: absolute;
    background-image: url('../images/bg.png');
    background-size: cover;
    opacity: 0.5;
    z-index: 0;
}

.self-img {
    height: var(--self-img-height);
    opacity: 1;
    z-index: 1;
    position: relative;
}
/*End Info-Skills Div*/

/*Begin Contact Div*/
.submit-btn {
    background-color: #BF9A40;
    color: #FFFFFF;
    font-size: var(--fs-body);
    font-family: var(--ff-site);
}

.submit-btn:hover {
    color: #BF9A40;
    background-color: transparent;
}

.form-label {
    font-size: var(--fs-form-label);
    font-family: var(--ff-site);
    font-weight: 200;
}

.form-field {
    height: 6vh;
    font-size: var(--fs-form-label);
}

.alert-text {
    font-size: var(--fs-form-label);
    font-family: var(--ff-site);
    font-weight: 200;
}
/*End Contact Div*/

/*Begin Media Queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        /*Font sizes*/
        --fs-subtitle: 1.3rem;
        --fs-form-label: 1.0rem;
        --self-img-height: 20.5rem;
    }
}

@media only screen and (min-width: 400px) {
    :root {
        /*Font sizes*/
        --fs-subtitle: 1.7rem;
        --fs-form-label: 1.2rem;
        --self-img-height: 23.5rem;
    }
}

/* Extremely small devices (phones, 300px and down) */
@media only screen and (max-width: 300px) {
    :root {
        /*Font sizes*/
        --fs-subtitle: 1.1rem;
        --fs-form-label: 0.8rem;
        --self-img-height: 17.5rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --fs-subtitle: 2.1rem;
        --fs-form-label: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root {
        /*Font sizes*/
        --fs-form-label: 1.8rem;
        --self-img-height: 28.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        /*Font sizes*/
        --fs-subtitle: 1.6rem;
        --fs-form-label: 1.1rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
    --fs-subtitle: 2.1rem;
    }

    .about-main-content {
        border-width: 8px;
    }
}

/* Extra large devices (large laptops and desktops, 1000px and up and large height) */
@media only screen and (min-width: 1000px) and (min-height: 1360px) {
    :root {
        --fs-subtitle: 2.5rem;
        --fs-form-label: 2rem;
    }
}
/*End Media Queries*/
