/*Begin Navigation Links*/
.navigation-link {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 2rem;
}

.navigation-link:hover {
    background-color: transparent;
    color:  #BF9A40;
}

/*End Navigation Links*/

/*Begin Project Title*/
.project-title {
    font-family: var(--ff-heading);
    font-size: var(--fs-heading);
    font-weight: 200;
}
/*End Project Title*/

/*Begin Links Section*/
.link-btn {
    width: 100%;
    background-color: #BF9A40;
    color: #FFFFFF;
}

.link-btn:hover {
    background-color: transparent;
    color:  #BF9A40;
}
/*End Links Section*/

/*Begin About Project Section*/
.reg-text {
    font-family: var(--ff-site);
    font-size: var(--fs-body);
    font-weight: 200;
}
/*End About Project Section*/

/*Begin images section*/
.carousel{
    width: 100%;
}

.carousel-indicators {
    filter: invert(100%);
}

.carousel-control-next,
.carousel-control-prev  {
    filter: invert(100%);
}

.carousel-control-next:hover,
.carousel-control-prev:hover  {
    filter: invert(20%);
}
/*End images section*/

/*Begin Text Section*/
.subheading-text {
    font-size: var(--fs-subtitle);
    font-family: var(--ff-site);
    font-weight: 200;
}

.lang-col {
    background-color: #BF9A40;
    color: #FFFFFF;
    border-radius: 5px;
}
/*End Text Section*/

/*Begin Media Queries*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel{
        width: 1200px;
    }
}
/*End Media Queries*/
