{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid about-main-content pt-3 mb-3">
    <div class="row">
        <!--Project navigation-->
        <div class="col-12">
            <div class="row">
                <div class="col-6 d-flex justify-content-start">
                    {% if project_data["prev_project"] %}
                    <a class="btn navigation-link" href="{{ url_for('project_page', project_title=project_data['prev_project']) }}">←</a>
                    {% endif %}
                </div>
                <div class="col-6 d-flex justify-content-end">
                    {% if project_data["next_project"] %}
                    <a class="btn navigation-link" href="{{ url_for('project_page', project_title=project_data['next_project']) }}">→</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <!--Start of page-->
        <div class="col-12 page-title-div text-center pt-3 pb-4">
            <h1 class="project-title">{{ project_data["title"] }}</h1>
        </div>
        <div class="col-12 project-links-div d-flex justify-content-center">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-12"><p class="text-center reg-text">Github</p></div>
                        <div class="col-12"><a class="btn link-btn reg-text" href="{{ project_data['github_link'] }}">Get Code</a></div>
                    </div>
                </div>
                {% for dict in project_data["setup_links"] %}
                <div class="col">
                    <div class="row">
                        <div class="col-12"><p class="text-center reg-text">{{ dict["os"] }}</p></div>
                        <div class="col-12"><a class="btn link-btn reg-text" href="{{ url_for('download', setup_name=dict['setup_name']) }}">Download</a></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if project_data['title'] == 'Wordsmith' %}
        <div class="col-12 images-div pt-5 d-flex justify-content-center container-fluid"
        style="width: 400px;">
        {% else %}
        <div class="col-12 images-div pt-5 d-flex justify-content-center container-fluid">
        {% endif %}
            <div id="projectImagesCarousel" class="carousel slide">
                <div class="text-center reg-text"><p>{{ project_data["subtitle"] }}</p></div>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#projectImagesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% for i in range(1, project_data['image_names']|length) %}
                    <button type="button" data-bs-target="#projectImagesCarousel" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for i in range(project_data['image_names']|length) %}
                        {% if i == 0 %}
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{{ url_for('static', filename='images/' + project_data['images_folder_name']
                                                           + '/' + project_data['image_names'][i]) }}">
                    </div>
                        {% else %}
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{{ url_for('static', filename='images/' + project_data['images_folder_name']
                                                           + '/' + project_data['image_names'][i]) }}">
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#projectImagesCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#projectImagesCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 about-project-div pt-5">
            <div class="row">
                <div class="col-12">
                    <div class="row d-flex justify-content-center text-center">
                        {% for paragraph in project_data["about_list"] %}
                        <div class="col-12"><p class="reg-text"> {{ paragraph }} </p></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="subheading-text pb-2 pt-3 text-center">Techs</h1>
                        </div>
                        <div class="col-12 text-center">
                            <div class="row">
                                {% for tech in project_data["tech_list"] %}
                                <div class="col-12 skills-details">
                                    <p class="info-text">{{ tech }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}